/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-oct-2014, 9:18:11
    Author     : Miguel
*/
/*Estilos generales del sitio*/
html {
    font-family: Arial,Helventica,sans-serif;
}
header, footer, #wrapper
{
    margin: 0 auto;
    clear:both;
    width:100%;
    max-width: 1500px;
    border-radius: 10px;
}
#site-header {
    background-color: #a6bcad;
    height: 103px;
}
#sidebar 
{
    float: left;
    min-height: 650px;
    min-width: 350px;
}
.contenedor {
    background-color: #d0dbd3;
    border-radius: 6px;
    margin: 24px auto;
    padding: 2%;
    width: 70%;
}
.contenido 
{
    float: left;
    padding-left: 14px;
    margin-top: 50px;
    min-width: 790px;
}
.footer 
{
    background-color: black;
    border-radius: 10px;
    color: grey;
    height: 51px;
}
#p-footer 
{
    float: left;
    font-size: 16px;
    margin-bottom: 1.3%;
    margin-left: 2.6%;
    margin-top: 1.3%;
    vertical-align: middle;
}
/*Estilos Diseño adaptativo*/
.display-great
{
    display:none;
}
.display-medium
{
    display:none;
}
.display-mini
{
    display:none;
}

/*Fin diseño adaptativo*/


/*Estilos login*/
.loginbox
{
    width: 38% !important;
    height: 20%;
    margin: 100px auto;
    border-radius: 10px;
    box-shadow: 10px 8px 26px #888;
    padding: 15px 20px;
}
.style1 
{
    height: 11px;
    margin-top: 54px;
}
/*Fin estilos login*/