<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/libs/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/base.css">
    </head>
    <body>
        <header>
            <h1>ViverSoft</h1> 
        </header>
        {% block content %}
        {% endblock %}
    </body>
</html>

