{% extends "base.html.twig" %}
{% block title %}Gestion de empleados{% endblock %}
{% block content %}
<div class='panel panel-default'>
    <div class="panel panel-heading">
         <h3>Alta empleado</h3>
    </div>
    <div class='panel panel-body'>
        
        {% if flash['error'] %}
            {% for error in flash['error'] %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}
        
        <form action="{{ urlFor('AltaEmpleado') }}" method="POST" class="form-horizontal" role="form">
          
        <fieldset>
            <legend>Crear nuevo empleado</legend>
        <div class="form-group">
            <label class="col-md-4 control-label" for="inputnif">Nif empleado</label>  
            <div class="col-md-5">
                <input id="inputnif" name="inputnif" placeholder="Nif del empleado..." class="form-control input-md" required="" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="inputnombre">Nombre empleado</label>  
            <div class="col-md-6">
                <input id="inputnombre" name="inputnombre" placeholder="Introduce nombre empleado" class="form-control input-md" required="" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="inputapellido1">1er apellido</label>  
            <div class="col-md-5">
               <input id="inputapellido1" name="inputapellido1" placeholder="Introduce primer apellido..." class="form-control input-md" required="" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="inputapellido2">2do apellido</label>  
            <div class="col-md-5">
                <input id="inputapellido2" name="inputapellido2" placeholder="Introduce segundo apellido..." class="form-control input-md" required="" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="inputemail">Email</label>  
            <div class="col-md-5">
                <input id="inputemail" name="inputemail" placeholder="Introduce el email.." class="form-control input-md" type="email">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="inputphone">Telefono</label>  
            <div class="col-md-5">
                <input id="inputphone" name="inputphone" placeholder="Introduce el telefono..." class="form-control input-md" required="" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="selectpuesto">Puesto</label>  
            <div class="col-md-5">
               <select name="selectpuesto" id="selectpuesto">
                   <option value="-1">Seleccione un puesto</option>
                   <option value="0">Jefe</option>
                   <option value="1">Empleado</option>
                   <option value="2">Comercial</option>
               </select>
             </div>
        </div>
        <div class='form-group'>
            <label class='col-md-4 control-label' for='selectuser'>Id usuario</label>
            <div class='col-md-5'>
                <select name='selectuser' id='selectuser'>
                    <option value='-1'>Seleccione un id usuario</option>
                    {% for user in users %}
                        <option value='{{user.id}}'>{{user.id}}</option>
                    {% endfor %}
                </select>
            </div>     
        </div>
        <div class="form-group text-center">
            <div class="col-md-8">
                <button type="submit" id="create-employee" name="create-employee" class="btn-default btn-success">crear empleado</button>
                <button type="reset" id="limpiar" name="limpiar" class="btn btn-primary">limpiar</button>
            </div>
        </div>
</fieldset>
</form>    
    </div>
</div>
{% endblock %}
