{% extends 'base.html.twig' %}
{%block title %}<i class="fa fa-user"></i>Gestión de usuarios{% endblock %}
{%block content %}
    <div class='panel panel-default'>
        <div class='panel panel-heading'>
            <h3>Gestión de usuarios</h3>
        </div>
    
        <div class='panel panel-body'>
        {% if flash['error'] %}
            {% for error in flash['error'] %}
                <div class="alert alert-info">{{error}}</div>
            {%endfor%}     
        {%endif%}
        <form role='form' class="form-horizontal" onsubmit="return validar(this,fieldsUsers)" action="{{urlFor('updateuser',{'id': user['id']})}}" method="POST">
        <fieldset>
            <legend>Editar usuario</legend>
            <div class="form-group">
                <label class="col-md-4 col-xs-4 control-label" for="inputuser">Nombre de usuario</label>
                <div class="col-md-5 col-xs-5">
                    <input id="inputuser" name="inputuser" value="{{user['username']}}" class="form-control" required type="text" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 col-xs-4 control-label" for="inputpassword">Contraseña</label>
                <div class="col-md-5 col-xs-5">
                    <input id="inputpassword" name="inputpassword" class="form-control" required type="password" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 col-xs-4 control-label" for="inputemail">Email</label>
                    <div class="col-md-5 col-xs-5">
                        <input id="inputemail" name="inputemail" value="{{user['email']}}" class="form-control" required type="email" />
                    </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 col-xs-4 control-label" for="es_admin">¿Es administrador?</label>
                <div class="col-md-5 col-xs-5">
                    <input type="checkbox" name="es_admin" id="es_admin" value="1" {%if user['admin']==1 %} checked {% endif %} />
                </div>
            </div>
            <div class='form-group text-center'>   
                
                    <button type="submit" id="update" name="update" class="btn-success btn-large">Modificar</button>
           
            </div>  
        </fieldset>
        </form>
        </div>
    </div>
<script type="text/javascript">
    window.onload = function()
    {   
        var fieldsUsers = ["","Nombre usuario","Contraseña","Email"];
        var validar;
        document.getElementById('inputuser').addEventListener('blur',function()
        {
           var regExp_user = /^[a-z0-9_-]{3,15}$/;
           validar = validarCampo(this.value,regExp_user);
           if(validar)
           {
               bien(this);
           }
           else
           {
               mal(this);
           }
        });
        
        document.getElementById('inputpassword').addEventListener('blur',function()
        {
            var regExp_password=/(^(?=.*[a-z])(?=.*[A-Z])(?=.*\d){6,20}.+$/;
            validar = validarCampo(this.value,regExp_password);
            if(validar)
            {
                bien(this);
            }
            else
            {
                mal(this);
            }
            
        });
    }
</script>
{%endblock %}
