{% extends "base.html.twig" %}
{% block title %} Gestión de usuarios {% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Gestión de usuarios</h3>
        </div>
    </div>
    <div class="panel-body">
        <h2>Listado de usuarios</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre de usuario</th>
                </tr>
            </thead>
        </table>
    </div>
{% endblock %}

