{% extends "base.html.twig" %}
{% block title %} Gestión de usuarios {% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Gestión de usuarios</h3>
        </div>
    </div>
    <div class="panel-body">
        <form role="form" class="form-horizontal" method="POST">
        {% if is_admin %} 
            <a href="#" class="btn btn-primary pull-right">Crear usuario</a>
        {% endif %}
        <h2>Listado de usuarios</h2>
        {% if users %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre de usuario</th>
                    <th>Email</th>
                    <th>Administrador</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td class="text-center">{{ user.idusuario }}</td>
                    <td class="text-center">{{ user.username }}</td>
                    <td class="text-center">{{ user.email }}</td>
                    <td class="text-center">{%if user.admin == 1 %} SI {%else%} NO {% endif %}</td>
                    {% if user.admin == 1 %}
                        <td>
                            <a href="" class="btn btn-primary" role="button">Modificar</a>
                            <button name="eliminar" id="eliminar" value="{{user.idusuario}}" class="btn btn-danger" onclick="deleteconfirm(this.value);">Eliminar</button>
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}   
            </tbody>
        </table>
      {% else %}
          <div class="alert alert-info">No hay usuarios para mostrar</div>
      {% endif %}
      </form>
    </div>
{% endblock %}

